# AndroidStudio/Gradle files
build
.gradle
.idea
local.properties
*.iml
scan_app/google-services.json
scan_app/fabric.properties
odkanalytics/

# NDK files
obj

# ZXing files
/.sconsign.dblite
xcuserdata
callgrind.out.*
contents.xcworkspacedata
*.pyc
/.rbenv-version
*.o
sample
testsuite
testsuite.expected
testsuite.out
testsuite.err
