# AndroidStudio/Gradle files
build
.gradle
.idea
local.properties
*.iml

# NDK files
obj

#Swig
bubblebot_lib/src/com/bubblebot/jni
bubblebot_lib/jni/gen

# ZXing files
/.sconsign.dblite
xcuserdata
callgrind.out.*
contents.xcworkspacedata
*.pyc
/.rbenv-version
*.o
sample
testsuite
testsuite.expected
testsuite.out
testsuite.err
