<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.opendatakit.scan">

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true">
    </uses-feature>
    <uses-feature android:name="android.hardware.camera.flash">
    </uses-feature>
    <uses-feature android:name="android.hardware.touchscreen">
    </uses-feature>

    <uses-permission android:name="android.permission.CAMERA">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission
            android:name="org.opendatakit.database.RUN_DATABASE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="org.opendatakit.database.RUN_DATABASE"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true"
            android:xlargeScreens="true"/>

    <application
            android:name=".application.Scan"
            android:allowBackup="false"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:theme="@style/Opendatakit">
        <activity
                android:name=".activities.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Added to be able to translate the Scan code to JSON -->
        <activity
                android:name=".activities.JSON2SurveyJSONActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
                android:name=".activities.ViewScannedForms"
                android:label="@string/view_bubble_forms_activity">
        </activity>
        <activity
                android:name=".activities.DisplayProcessedFormActivity"
                android:label="@string/display_processed_form_activity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.DisplayStatusActivity"
                android:label="status"
                android:screenOrientation="portrait">
        </activity>

        <service
                android:name=".services.ProcessFormsService"
                android:label="ODK Scan Background">
        </service>

        <activity
                android:name=".activities.AcquireFormImageActivity"
                android:label="@string/title_activity_process_image">
        </activity>
    </application>

</manifest>
